<div class="window">
    <div class="main-content">

        <div class="main-content-left">
            <p>Verfügbar: <span>{{data.available}}</span></p> 
        </div>
        <div class="main-content-right">
            <p>Anzahl: <span>{{data.selected}}</span></p> 
            <div class="btns">
                <button mat-mini-fab color="primary" (click)="inc()">+</button>
                <button mat-mini-fab color="basic" (click)="dec()">-</button> 
            </div>
        
        </div>

        
    </div>

    <div class="btn-reserve-codes">
        <button mat-raised-button color="basic" (click)="cancel()">abbrechen</button>
        <button mat-raised-button color="primary" (click)="reserve()">bestätigen</button>
    </div>
</div>