.window{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    height: 30vh;
}


.btn-reserve-codes{
    width: 100%;
    display: flex;
    justify-content: right;
}
.btn-reserve-codes button{
margin: 2.5%;
}

.main-content{

width: 100%;
height: 70%;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}


.codes{
    color: gray;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btns{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content-right p{
  font-size: 1rem;
  font-weight: 500;
}

