<div class="add-template-window">
<h1>Gutscheinart hinzufügen</h1>
  <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Gutscheinname</mat-label>
          <input matInput placeholder="Apple, Netflix..." >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Beschreibung</mat-label>
          <textarea matInput></textarea>
      </mat-form-field>
  </form>
  <div class="btn-codes">
      <button mat-raised-button color="basic" (click) ="closeDialog()" >abbrechen</button>
      <button mat-raised-button color="primary" (click) ="add()">hinzufügen</button>
  </div>
</div>