.window-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 40vh;
}

.btn-codes{
    width: 100%;
    display: flex;
    justify-content: right;
}
.btn-codes button{
margin: 2.5%;
}